html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
    margin: 0;
    background: #222;
    font-family: "Lucida Console" monospace;
    font-weight: 300;
    line-height:1.6;
}

.nav {
     width:70vw;
    max-width:900px;
    margin:40px auto;
    border:double 3px #000000;
    padding:40px;
}

header {
    background: #55d6aa;
}

.main {
    margin: 0;
    list-style: none;
}

h2 {
    margin-top: 0;
    border-bottom:1px solid #000000;
}

section {
    background: #53ED8E;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
}

p {
    text-indent: 3%;
}