body {
    margin: 0;
    background: #222;
    font-family: "Lucida Console" monospace;
    font-weight: 300;
}

.nav {
    width: 80%;
}

header {
    background: #55d6aa;
}

nav ul.main {
    margin: 0;
    list-style: none;
}

h2 {
    margin-top: 0;
}

section {
    background: #53ED8E;
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
}

p {
    text-indent: 3%;
}